<%= form_for(@game, url: game_path) do |f| %>
  <%= render 'partials/errors/game_errors' %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: "text-field" %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.text_field :image, class: "text-field" %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description, class: "text-field" %>
  </div>

  <%= f.submit "Update game", data: { disable_with: 'Updating...' }, class: "submit-button" %>
<% end %>