<div class="container">
  <div class="flex">

    <% @games.each do |game| %>
      <div class="game-container">

        <%= link_to(game_path(game)) do %>
          <div class="game-image-container link-color">
            <img class="game-thumbnail-image" src="<%= game.image %>">
            <div class="game-image-centered">
              <div class="padding-bottom-mini game-title">
                <%= game.title %>
              </div>
              <div class="game-subtext padding-bottom-mini">
                <%= pluralize(game.leagues.count, "League") %>
              </div>
              <div class="game-subtext">
                -
                <% game.playlists.take(3).each do |playlist| %>
                  <%= playlist.title %> -
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    <% end %>

  </div>
</div>



