<%= form_for(@game, url: games_path) do |f| %>
  <%= render 'partials/errors/game_errors' %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: "text-field" %>
  </div>

  <%= f.submit "Create game", data: { disable_with: 'Creating...' }, class: "submit-button" %>
<% end %>