<div class="container">

  <div class="game-image-container link-color">
    <img class="game-large-image" src="<%= @game.image %>">
    <div class="game-image-centered">
      <div class="padding-bottom-mini large-game-title">
        <%= @game.title %>
      </div>
      <div class="game-subtext padding-bottom-mini">
        <%= pluralize(@game.playlists.count, "Tournament") %>
      </div>
    </div>
  </div>

  <div class="padding-vertical flex">
    <% @playlists.each do |playlist| %>
      <div class="game-container">

        <%= link_to(game_playlist_path(@game, playlist)) do %>
          <div class="game-image-container link-color">
            <img class="game-thumbnail-image" src="<%= playlist.image %>">
            <div class="game-image-centered">
              <div class="padding-bottom-mini game-title">
                <%= playlist.title %>
              </div>
              <div class="game-subtext padding-bottom-mini">
                <%= pluralize(@game.playlists.count, "League") %>
              </div>
              <div class="game-subtext">
                Featured Playlists: 1v1, 2v2, Arena
              </div>
            </div>
          </div>
        <% end %>

      </div>
    <% end %>
  </div>

</div>