<%= provide(:title, "Sign In") %>

<div class="container">

  <div class="medium-title center padding-vertical-large">
    Sign in
  </div>

  <div class="form-container form-border">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :login, "Username or email" %>
        <%= f.text_field :login, autocomplete: "login", class: "text-field" %>
      </div>

      <div class="field">
        <%= f.label :password %> <span class="dark"><%= link_to "I forgot my password.", new_user_password_path, class: "mini-text" %></span>
        <%= f.password_field :password, autocomplete: "current-password", class: "text-field" %>
      </div>

      <% if devise_mapping.rememberable? -%>

        <div class="flex">
          <div class="field-two-column-bottom">
            <label class="inactive-small-tab" id="remember-tab" for="remember-inactive">Remember me?</label>
            <span class="hidden"><%= f.check_box(:remember_me, id: "remember-inactive") %></span>
          </div>
        </div>

      <% end -%>

      <%= f.submit "Sign in! =P", data: { disable_with: 'Signing you in...' }, class: "submit-button" %>
    <% end %>
  </div>

  <div class="padding-top center">
    <%= link_to "But I don't have an account yet.", register_path %>
  </div>

</div>
