<div class="container">

  <div class="game-image-container link-color">
    <img class="game-large-image" src="<%= @league.image %>">
    <div class="game-image-centered">
      <div class="padding-bottom-mini large-game-title">
        <%= @league.title %>
      </div>
      <div class="padding-bottom-mini game-title">
        <%= @league.playlist.game.title %> - <%= @league.playlist.title %>
      </div>
      <div class="game-subtext padding-bottom-mini">
        <%= pluralize(@playlist.leagues.count, "Participant") %>
      </div>
      <div class="game-subtext padding-bottom-mini">
        Every Tuesday - 7 PM
      </div>
    </div>
  </div>

  <div class="padding-vertical flex">
    <div class="twentyfour center">
      This Week
    </div>
    <div class="twentyfour center">
      Standings
    </div>
    <div class="twentyfour center">
      Schedule
    </div>
    <div class="twentyfour center">
      Players
    </div>
  </div>

  <% if user_signed_in? %>
    <%= form_for(@participant, url: game_playlist_league_participants_path(@game, @playlist, @league)) do |f| %>

      <div class="field">
        <%= f.label :user_id %>
        <%= f.hidden_field :user_id %>
      </div>

      <%= f.submit "Join league", data: { disable_with: 'Creating...' }, class: "submit-button" %>
    <% end %>
  <% end %>

</div>