  <% if user_signed_in? %>
    <%= form_for(@match_relationship, url: game_playlist_league_week_match_match_relationships_path(@game, @playlist, @league, @week, @match)) do |f| %>

      <%= f.submit "Join match", data: { disable_with: 'Joining...' }, class: "submit-button" %>
    <% end %>
  <% end %>

<% if @match.match_relationships.any? %>
<div class="container">

  <div class="match-image-container">

    <div class="flex">

      <div class="match-show-container">

        <% if user_signed_in? %>
          <%= form_for(@match_vote, url: game_playlist_league_week_match_match_votes_path(@game, @playlist, @league, @week, @match)) do |f| %>

            <%= hidden_field_tag :user_id, @user.id %>
            <%= hidden_field_tag :participant_id, @participant_one.id %>

            <%= f.submit "Vote for #{@user_one.profile.display_name}", data: { disable_with: 'Joining...' }, class: "submit-button" %>
          <% end %>
        <% end %>

        <%= link_to(user_path(@user_one)) do %>

          <div class="game-image-container link-color">
            <img class="match-large-image" src="<%= @user_one.profile.image_url(:thumb) %>">
            <div class="game-image-centered">


              <% if user_signed_in? && current_user == @user_one %>
                <div class="padding-bottom-mini game-you-title">

                  <% if @user_one.profile.display_name.present? %>
                    <%= @user_one.profile.display_name %>
                  <% else %>
                    <%= @user_one.username %>
                  <% end %>

                </div>
                <div class="game-you-subtext padding-bottom-mini">
                  4 - 1
                </div>
                <div class="game-you-subtext padding-bottom-mini">
                  <%= @participant_one.match_votes.count %>
                </div>
              <% else %>
                <div class="padding-bottom-mini game-title">
                  
                  <% if @user_one.profile.display_name.present? %>
                    <%= @user_one.profile.display_name %>
                  <% else %>
                    <%= @user_one.username %>
                  <% end %>

                </div>
                <div class="game-subtext padding-bottom-mini">
                  4 - 1
                </div>
              <% end %>

            </div>
          </div>

        <% end %>

      </div>


      <div class="match-show-container">

        <% if user_signed_in? %>
          <%= form_for(@match_vote, url: game_playlist_league_week_match_match_votes_path(@game, @playlist, @league, @week, @match)) do |f| %>
            <%= render 'partials/errors/match_votes_errors' %>

            <%= hidden_field_tag :user_id, @user.id %>
            <%= hidden_field_tag :participant_id, @participant_two.id %>

            <%= f.submit "Vote for #{@user_two.profile.display_name}", data: { disable_with: 'Joining...' }, class: "submit-button" %>
          <% end %>
        <% end %>

        <%= link_to(user_path(@user_two)) do %>

          <div class="game-image-container link-color">
            <img class="match-large-image" src="<%= @user_two.profile.image_url(:thumb) %>">
            <div class="game-image-centered">


              <% if user_signed_in? && current_user == @user_two %>
                <div class="padding-bottom-mini game-you-title">
                  
                  <% if @user_two.profile.display_name.present? %>
                    <%= @user_two.profile.display_name %>
                  <% else %>
                    <%= @user_two.username %>
                  <% end %>

                </div>
                <div class="game-you-subtext padding-bottom-mini">
                  1 - 4
                </div>
              <% else %>
                <div class="padding-bottom-mini game-title">
                  
                  <% if @user_two.profile.display_name.present? %>
                    <%= @user_two.profile.display_name %>
                  <% else %>
                    <%= @user_two.username %>
                  <% end %>

                </div>
                <div class="game-subtext padding-bottom-mini">
                  1 - 4
                </div>
              <% end %>
              <div class="game-subtext padding-bottom-mini">
                  <%= @participant_two.match_votes.count %>
                </div>


            </div>
          </div>

        <% end %>

      </div>

    </div>

    <div class="match-image-centered large-x">
      x
    </div>

  </div>

  <div class="flex padding-vertical">

    <div class="match-show-container">

      <%= link_to "Watch on stream", user_path(@user_one), class: "submit-button" %>

    </div>

    <div class="match-show-container">

      <%= link_to "Watch on stream", user_path(@user_two), class: "submit-button" %>

    </div>

  </div>

</div>

<% end %>








</br>
</br>
</br>
</br>


DEBUG</br>

current user - <%= @current_user.id %> </br>
participant_one.id - <%= @participant_one.id %></br>
participant_two.id - <%= @participant_two.id %></br>

match - <%= @match.id %></br></br>

<% @match.match_votes.each do |vote| %>
  vote id - <%= vote.id %></br>
  vote.user_id - <%= vote.user_id %></br>
  vote.match_id - <%= vote.match_id %></br>
  vote.participant_id - <%= vote.participant_id %> - end </br></br>
<% end %>

</br>
participant one match vote count - (where match id is <%= @match.id %> and particpant id is <%= @participant_one.id %>) - <% @participant_one.match_vote_id(@match).each do |vote| %>
  <%= vote.id %>,
  <% end %></br>

participant two match vote count - (where match id is <%= @match.id %> and particpant id is <%= @participant_two.id %>) - <% @participant_two.match_vote_id(@match).each do |vote| %>
  <%= vote.id %>,
  <% end %></br>

current user league(participations) count - <%= @user.match_relationships.count %></br>

current user voted count - <%= @user.match_votes.count %>




