  <% if user_signed_in? %>
    <%= form_for(@match_relationship, url: game_playlist_league_week_match_match_relationships_path(@game, @playlist, @league)) do |f| %>

      <%= f.submit "Join match", data: { disable_with: 'Joining...' }, class: "submit-button" %>
    <% end %>
  <% end %>


<div class="container">

  <div class="match-image-container">

    <div class="flex">

      <div class="match-show-container">

        <%= link_to(user_path(@user_one)) do %>

          <div class="game-image-container link-color">
            <img class="match-large-image" src="<%= @user_one.profile.image_url(:thumb) %>">
            <div class="game-image-centered">


              <% if user_signed_in? && current_user == @user_one %>
                <div class="padding-bottom-mini game-you-title">

                  <% if @user_one.profile.display_name.present? %>
                    <%= @user_one.profile.display_name %>
                  <% else %>
                    <%= @user_one.username %>
                  <% end %>

                </div>
                <div class="game-you-subtext padding-bottom-mini">
                  4 - 1
                </div>
              <% else %>
                <div class="padding-bottom-mini game-title">
                  
                  <% if @user_one.profile.display_name.present? %>
                    <%= @user_one.profile.display_name %>
                  <% else %>
                    <%= @user_one.username %>
                  <% end %>

                </div>
                <div class="game-subtext padding-bottom-mini">
                  4 - 1
                </div>
              <% end %>


            </div>
          </div>

        <% end %>

      </div>

      <div class="match-show-container">

        <%= link_to(user_path(@user_two)) do %>

          <div class="game-image-container link-color">
            <img class="match-large-image" src="<%= @user_two.profile.image_url(:thumb) %>">
            <div class="game-image-centered">


              <% if user_signed_in? && current_user == @user_two %>
                <div class="padding-bottom-mini game-you-title">
                  
                  <% if @user_two.profile.display_name.present? %>
                    <%= @user_two.profile.display_name %>
                  <% else %>
                    <%= @user_two.username %>
                  <% end %>

                </div>
                <div class="game-you-subtext padding-bottom-mini">
                  1 - 4
                </div>
              <% else %>
                <div class="padding-bottom-mini game-title">
                  
                  <% if @user_two.profile.display_name.present? %>
                    <%= @user_two.profile.display_name %>
                  <% else %>
                    <%= @user_two.username %>
                  <% end %>

                </div>
                <div class="game-subtext padding-bottom-mini">
                  1 - 4
                </div>
              <% end %>


            </div>
          </div>

        <% end %>

      </div>

    </div>

    <div class="match-image-centered large-x">
      x
    </div>

  </div>

  <div class="flex padding-vertical">

    <div class="match-show-container">

      <%= link_to "Watch on stream", user_path(@user_one), class: "submit-button" %>

    </div>

    <div class="match-show-container">

      <%= link_to "Watch on stream", user_path(@user_two), class: "submit-button" %>

    </div>

  </div>

</div>