<div class="container">

  <div class="game-image-container link-color">
    <img class="game-large-image" src="<%= @league.image %>">
    <div class="game-image-centered">
      <div class="padding-bottom-mini large-game-title">
        <%= @league.title %>
      </div>
      <div class="padding-bottom-mini game-title">
        <%= @league.playlist.game.title %> - <%= @league.playlist.title %>
      </div>
      <div class="game-subtext padding-bottom-mini">
        <%= pluralize(@league.participants.count, "Participant") %>
      </div>
      <div class="game-subtext padding-bottom-mini">
        Every Tuesday - 7 PM
      </div>
    </div>
  </div>

  <div class="padding-vertical flex">
    <% @matches.each do |match| %>
      <div class="match-outer-container">

        <div class="match-image-container">

          <%= link_to(game_playlist_league_week_match_path(@game, @playlist, @league, @week, match)) do %>

            <div class="flex">
              <div class="match-container">

                <div class="game-image-container link-color">
                  <img class="match-thumbnail-image" src="<%= match.match_relationships.first.participant.user.profile.image_url(:thumb) %>">
                  <div class="game-image-centered">


                    <% if user_signed_in? && current_user == match.match_relationships.first.participant.user %>
                      <div class="padding-bottom-mini game-you-title">
                        
                        <% if match.match_relationships.first.participant.user.profile.display_name.present? %>
                          <%= match.match_relationships.first.participant.user.profile.display_name %>
                        <% else %>
                          <%= match.match_relationships.first.participant.user.username %>
                        <% end %>
                        
                      </div>
                      <div class="game-you-subtext padding-bottom-mini">
                        <%= match.match_relationships.first.participant.wins %> - <%= match.match_relationships.first.participant.losses %>
                      </div>
                    <% else %>
                      <div class="padding-bottom-mini game-title">
                        
                        <% if match.match_relationships.first.participant.user.profile.display_name.present? %>
                          <%= match.match_relationships.first.participant.user.profile.display_name %>
                        <% else %>
                          <%= match.match_relationships.first.participant.user.username %>
                        <% end %>

                      </div>
                      <div class="game-subtext padding-bottom-mini">
                        <%= match.match_relationships.first.participant.wins %> - <%= match.match_relationships.first.participant.losses %>
                      </div>
                    <% end %>


                  </div>
                </div>

              </div>

              <div class="match-container">

                <div class="game-image-container link-color">
                  <img class="match-thumbnail-image" src="<%= match.match_relationships.last.participant.user.profile.image_url(:thumb) %>">
                  <div class="game-image-centered">


                    <% if user_signed_in? && current_user == match.match_relationships.last.participant.user %>
                      <div class="padding-bottom-mini game-you-title">
                        
                        <% if match.match_relationships.last.participant.user.profile.display_name.present? %>
                          <%= match.match_relationships.last.participant.user.profile.display_name %>
                        <% else %>
                          <%= match.match_relationships.last.participant.user.username %>
                        <% end %>

                      </div>
                      <div class="game-you-subtext padding-bottom-mini">
                        <%= match.match_relationships.last.participant.wins %> - <%= match.match_relationships.last.participant.losses %>
                      </div>
                    <% else %>
                      <div class="padding-bottom-mini game-title">

                        <% if match.match_relationships.last.participant.user.profile.display_name.present? %>
                          <%= match.match_relationships.last.participant.user.profile.display_name %>
                        <% else %>
                          <%= match.match_relationships.last.participant.user.username %>
                        <% end %>

                      </div>
                      <div class="game-subtext padding-bottom-mini">
                        <%= match.match_relationships.last.participant.wins %> - <%= match.match_relationships.last.participant.losses %>
                      </div>
                    <% end %>


                  </div>
                </div>

              </div>
            </div>

          <% end %>

          <div class="match-image-centered large-game-title">
            x
          </div>

        </div>

      </div>
    <% end %>
  </div>

</div>