<div class="container">

  <div class="game-image-container link-color">
    <img class="game-large-image" src="<%= @league.image %>">
    <div class="game-image-centered">
      <div class="padding-bottom-mini large-game-title">
        <%= @league.title %>
      </div>
      <div class="padding-bottom-mini game-title">
        <%= @league.playlist.game.title %> - <%= @league.playlist.title %>
      </div>
      <div class="game-subtext padding-bottom-mini">
        <%= pluralize(@league.participants.count, "Participant") %>
      </div>
      <div class="game-subtext padding-bottom-mini">
        Every Tuesday - 7 PM
      </div>
    </div>
  </div>

  <div class="padding-vertical flex">
    <% @matches.each do |match| %>
      <div class="match-outer-container">

        <div class="match-image-container">

          <%= link_to(game_playlist_league_week_match_path(@game, @playlist, @league, @week, match)) do %>

            <div class="flex">
              <div class="match-container">

                <div class="game-image-container link-color">
                  <img class="match-thumbnail-image" src="<%= User.friendly.find(Participant.find(match.participant_one_id).user_id).profile.age %>">
                  <div class="game-image-centered">


                    <% if user_signed_in? && current_user == User.friendly.find(Participant.find(match.participant_one_id).user_id) %>
                      <div class="padding-bottom-mini game-you-title">
                        <%= Participant.find(match.participant_one_id).user.username %>
                      </div>
                      <div class="game-you-subtext padding-bottom-mini">
                        4 - 1
                      </div>
                    <% else %>
                      <div class="padding-bottom-mini game-title">
                        <%= Participant.find(match.participant_one_id).user.username %>
                      </div>
                      <div class="game-subtext padding-bottom-mini">
                        4 - 1
                      </div>
                    <% end %>


                  </div>
                </div>

              </div>

              <div class="match-container">

                <div class="game-image-container link-color">
                  <img class="match-thumbnail-image" src="<%= User.friendly.find(Participant.find(match.participant_two_id).user_id).profile.age %>">
                  <div class="game-image-centered">


                    <% if user_signed_in? && current_user == User.friendly.find(Participant.find(match.participant_two_id).user_id) %>
                      <div class="padding-bottom-mini game-you-title">
                        <%= Participant.find(match.participant_two_id).user.username %>
                      </div>
                      <div class="game-you-subtext padding-bottom-mini">
                        1 - 4
                      </div>
                    <% else %>
                      <div class="padding-bottom-mini game-title">
                        <%= Participant.find(match.participant_two_id).user.username %>
                      </div>
                      <div class="game-subtext padding-bottom-mini">
                        1 - 4
                      </div>
                    <% end %>


                  </div>
                </div>

              </div>
            </div>

          <% end %>

          <div class="match-image-centered game-title">
            —
          </div>

        </div>

      </div>
    <% end %>
  </div>

</div>

<%= link_to "create match", new_game_playlist_league_week_match_path(@game, @playlist, @league, @week) %>
<%= pluralize(@week.matches.count, "Match") %> <%= pluralize(Match.all.count, "Match") %>