<div class="container">

  <div class="game-image-container link-color">
    <img class="game-large-image" src="<%= @league.image %>">
    <div class="game-image-centered">
      <div class="padding-bottom-mini large-game-title">
        <%= @league.title %>
      </div>
      <div class="padding-bottom-mini game-title">
        <%= @league.playlist.game.title %> - <%= @league.playlist.title %>
      </div>
      <div class="game-subtext padding-bottom-mini">
        <%= pluralize(@league.participants.count, "Participant") %>
      </div>
      <div class="game-subtext padding-bottom-mini">
        Every Tuesday - 7 PM
      </div>
    </div>
  </div>

  <div class="padding-vertical flex">
    <div class="twentyfour center">
      This Week
    </div>
    <div class="twentyfour center">
      Standings
    </div>
    <div class="twentyfour center">
      Schedule
    </div>
    <div class="twentyfour center">
      Players
    </div>
  </div>

  <div class="padding-vertical flex">
    <% @league.weeks.each do |week| %>
      <div class="game-container">

        <%= link_to(game_playlist_league_week_path(@game, @playlist, @league, week)) do %>
          <div class="game-image-container link-color">
            <img class="game-thumbnail-image" src="<%= week.image %>">
            <div class="game-image-centered">
              <div class="padding-bottom-mini game-title">
                <%= week.title %>
              </div>
              <div class="game-subtext padding-bottom-mini">
                <%= pluralize(@league.weeks.count, "Match") %>
              </div>
              <div class="game-subtext">
                Every Tuesday - 7 PM
              </div>
            </div>
          </div>
        <% end %>

      </div>
    <% end %>
  </div>
  

  <% if user_signed_in? %>
    <%= form_for(@participant, url: game_playlist_league_participants_path(@game, @playlist, @league)) do |f| %>

      <div class="field">
        <%= f.hidden_field :user_id %>
      </div>

      <%= f.submit "Join league", data: { disable_with: 'Creating...' }, class: "submit-button" %>
    <% end %>
  <% end %>

  <% if @league.participants.any? %>
    <% @league.participants.each do |participant| %>
      <%= participant.user.username %>
      <%= participant.user.id %>
      <%= participant.user_id %></br>
    <% end %>
  <% end %>

</div>

<%= link_to "create week", new_game_playlist_league_week_path(@game, @playlist, @league) %>